version: "3.8"

services:
  postgres:
    image: postgres:16.3
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: oc_wildland
    volumes:
      - ./.data/pg:/var/lib/postgresql/data
    ports:
      - "5432:5432"
